.gcloudignore
.git*
TC Features.txt
ThinFilters.ui
TwitchCrops.py
TwitchCrops - (Backup Copy).spec
app/resources/
build/
cert.pem
dist/
index.html
key.pem
node_modules/
old-code/
old-key/
package-lock.json
twitchcrops_csr.txt
twitchcrops_tv.ca-bundle
twitchcrops_tv.crt
twitchcrops_tv.key
twitchcrops_tv.p7b
twitchcrops_tv.zip
venv/
webapp*