h1 {
    border: 2px #eee solid;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

h2 {
    text-align: center;
}

.btn.btn-primary[disabled] {
    background-color: #808080;
    border-color: #808080;
}

.btn-submit {
    float: right;
    position: absolute;
}

.center-div {
    text-align: center;
    align: center;
}

.filter-form {
    position: relative;
    width:50%;
}

.id-form input {
    display: inline-block;
    width: 420px;
}

.navbar {
    margin-bottom: 20px;
}

.video-info {
    margin-top: 20px;
}

.status-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*
::placeholder { // Chrome, Firefox, Opera, Safari 10.1+
  color: red;
  opacity: 0.1; // Firefox
}
*/

/*
input[type=text] {
  border: none;
  border-bottom: 2px solid red;
}
*/