{% extends 'base.html' %}

{% block content %}

{% set url_base = "https://www.twitch.tv/videos/" %}
{% set url_placeholder = url_base + "1234567890" %}
{% set url_value = "" %}

{% if video_info is not none %}
    {% set url_value = url_base + video_info['id'] %}
{% endif %}

<div class="center-div">
    <label>Video URL</label>
    <div class="id-form">
        <form method="post" action="/info">
            <input class="form-control form-control-lg mr-3 mb-3" type="text" name="video_id" style="color:black;"
                       placeholder={{ url_placeholder }} value="{{ url_value }}"/>
            <button class="btn btn-primary btn-lg btn-submit" type="submit">Submit</button>
        </form>
    </div>
    <label>{{ id_msg }}</label>
</div>

{% endblock %}