{% include 'index.html' %}
{% include 'video_info.html' %}

{% block content %}
<!--
        <a href={{"/chart/{}".format(video_info['id'])}} target="_blank"><button class="btn btn-primary">Analyze</button></a>
-->

<div class="row justify-content-center mt-5">
    <form name="options" class="filter-form">
        <div class="row justify-content-center">
            <div class="row justify-content-center">
                <div class="col justify-content-center">
                    <label>Filters</label>
                    <i class="fas fa-question-circle" title="Space-separated, full/partial emote names. &quot;case-sensitive&quot; 'any-case'"></i>
                </div>
            </div>
            <textarea class="form-control" name="filters" placeholder="LULW &quot;LUL&quot; 'lul'">{{ filters }}</textarea>
        </div>
        <div class="center-div">
            <label>{{ filter_msg }}</label>
             <div class="form-group">
                <button id="submit" type="submit" class="btn btn-primary btn-lg mt-3">Analyze</button>
            </div>
        </div>
    </form>
</div>

<div id="result"></div>

<script>
        const form = document.forms.options;

        function handleSubmit(event) {
          event.preventDefault();
          const formData = new FormData(event.target);
        }

        form.addEventListener('submit', handleSubmit);

        function handleSubmit(event) {
                event.preventDefault();
                const formData = new FormData(event.target);
                const data = [...formData.entries()];
                const asString = data
                        .map(x => `${encodeURIComponent(x[0])}=${encodeURIComponent(x[1])}`)
                        .join('&');
                console.log(asString);

                //var link = "{{"/validate/{}".format(video_info['id'])}}?" + asString;
                //var link = "{{"/download/{}".format(video_info['id'])}}?" + asString;

                //window.open(link, '_blank')
                //window.location.href = link

                console.log("Submit handling");
                document.getElementById("submit").disabled = true;

                var evtSource = new EventSource("{{"/validate/{}".format(video_info['id'])}}?" + asString);

                evtSource.onmessage=function(event) {
                    console.log("msg received");
                    console.log(`JS evtSource message received: ${event.data}`);
                    document.getElementById("result").innerHTML=event.data;
                    if (event.data.includes("Error") || event.data == "") {
                        console.log("killing event source");
                        evtSource.close();

                        document.getElementById("submit").disabled = false;
                    }
                };

                if(typeof(EventSource)!=="undefined") {
                    console.log("JS source call");

                } else {
                    document.getElementById("result").innerHTML="Sorry, your browser does not support server-sent events...";
                }
        }
</script>
{% endblock %}

<!--
<form method="post" action="/chart">
        <div class="form-group">

        </div>
</form>
-->