<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- the value of scriptprocessor comes from the command-line tool wfastcgi enable -->
      <add name="FlaskFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\users\benmu\projects\twitch-crops\venv\scripts\python.exe|c:\users\benmu\projects\twitch-crops\venv\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <security>
        <!-- special characters in URL rewriting, such as plus sign + and so on -->
        <requestFiltering allowDoubleEscaping="true"></requestFiltering>
    </security>
  </system.webServer>

  <appSettings>
    <!-- Required settings -->
    <!-- specify the location of the flask app in the module -->
    <add key="WSGI_HANDLER" value="webapp.app" />
    <add key="PYTHONPATH" value="~/" />

    <!-- Optional settings -->
    <!-- you need to create a log directory first, or an error will be reported -->
    <add key="WSGI_LOG" value="c:\users\benmu\projects\logs\oboeqa_web.log" />
    <add key="WSGI_RESTART_FILE_REGEX" value="" />
  </appSettings>
</configuration>